


body {
    color: #7A7A7A;
    margin: 0;
}

a {
    text-transform: uppercase;
    color: #6C5CCC;
    text-decoration: none;
    font-weight: 700;
    font-size: 0.75rem;
}

ul {
    list-style-type: none;
    padding: 0;
}



/* base classes */ 

.primary-blue {
    color: #6C5CCC;
}

.primary-black {
    color: #000;
}

.main-container {
    max-width: 1120px;
    width: 100%;
    margin: auto;
    background-color: red;
}

.rotate-90 {
    -moz-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

.p-base {
    padding: 0.625rem;
}

.p-1 {
    padding: 1rem;
}

.w-full {
    width: 100%;
}

.lg-hidden {
    display: block;
}

.flex-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cursor-pointer {
    cursor: pointer;
}

.flex-between {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

@media only screen and (min-width: 992px) {
    .lg-hidden {
        display: none;
    }

    .flex-between {
        flex-direction: row;
    }
}

/* ------------------- Main header ------------------- */

.main-header {
    width: 100%;
    height: 100vh;
    background-image: url("../images/img/hero-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.menu {
    display: none;
    height: 100%;
    right: 0;
    position: fixed;
    background-color: antiquewhite;
    top: 0;
    transition: -webkit-transform .5s ease;
    transition: transform .5s ease;
    -webkit-transform: translateX(330px);
    -ms-transform: translateX(330px);
    transform: translateX(330px);
    width: 250px;
    
}

.menu.show {
    display: block;
    -webkit-transform: translateX(0%);
    -ms-transform: translateX(0%);
    transform: translateX(0%);
}

.svg-wrapper {
    padding: 0.2rem 1rem;
    z-index: 1;
}


.main-navbar .nav-item {
    padding: 0 .5rem;
    border-bottom: 1px solid transparent;
}

.main-navbar .nav-item:hover {
    border-bottom: 1px solid #c6befa;
}

.main-navbar .nav-item .nav-link:hover {
    color: #c6befa;
}





@media only screen and (min-width: 992px) {
    .menu {
        display: block;
    }
}
/* ------------------- Main header end ------------------- */







